.datapicker-calendar .ui-datepicker {
    position: relative;
}
.datapicker-calendar .ui-state-highlight {
    background: none repeat scroll 0 0 #e63c3b !important;
}

.datapicker-calendar .ui-datepicker td.ui-datepicker-today a {
    background: none #fff !important;
    font-weight: normal;
}

.datapicker-calendar .ui-datepicker .ui-datepicker-current-day .ui-state-active {
    color: #555 !important;
}

.datapicker-calendar .theme-frost .ui-datepicker .ui-state-active {
    background: none repeat scroll 0 0 #fff !important;
}

.datapicker-calendar .ui-datepicker .ui-state-highlight a {
    color: #fff !important;
    text-decoration: none;
}
.datapicker-calendar .theme-frost .ui-datepicker .ui-state-highlight.ui-datepicker-current-day .ui-state-active {
    background: none repeat scroll 0 0 #e63c3b !important;
}
.datapicker-calendar .theme-frost .ui-datepicker .ui-state-highlight.ui-datepicker-current-day a.ui-state-active {
    color: #fff !important;
}

.datapicker-calendar .ui-datepicker-group {
    border: 1px solid #eee;
    float: left;
    margin: 20px 25px;
    width: 210px;
}

.datapicker-calendar .ui-datepicker-title {
    width: 208px;
}

.datapicker-calendar .ui-datepicker-prev {
    left: auto;
}

.datapicker-calendar .ui-datepicker-next {
    right: 50px;
}